.auto-complete {
    position: relative;

    .auto-input {
        width: 100%;
        height: 3rem;
    }

    .suggestions {
        .auto-suggestion {
            position: absolute;
            width: 100%;
            height: 2rem;
            line-height: 2rem;
            font-size: 1rem;
            padding: 0.5rem;
            color: red;
        }
    }
}
