.vision-button {
    height: 2rem;
    line-height: calc(2rem - 2px);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    text-align: center;
    font-weight: bold;
    margin: 0.1rem;
    color: $col-active;
    background-color: white;
    border: 1px solid transparent;

    &:hover {
        color: white;
        background-color: rgba($col-active, 0.3);
    }

    @extend .vision-colors;

    &.round {
        border-radius: 1rem;
        border-color: initial;
    }

    &.solid {
        color: white;
        background-color: initial;
    }

    &.hollow {
        background-color: transparent!important;
        border: 2px solid initial!important;
        color: inherit!important;
    }

    &.naked {
        background-color: transparent;
        border-color: transparent;
    }

    &.wide {
        padding-left: 1rem;
        padding-right: 1rem;
    }

    &.extra-wide {
        padding-left: 2rem;
        padding-right: 2rem;
    }
}