$card-width: 12rem;
$card-height: 12rem;
$card-margin: 1rem;
$new-collection-border-width: 2px;
$content-width: calc(4 * #{$card-width} + 4 * #{$card-margin});
.collections-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    max-width: $content-width;
    margin: auto;
}

.list {
    width: $content-width;
}

.grid {
    width: $content-width;
}

$dim-new-md-button-size: 4rem;
.add-new-collection-item-button {
    position: absolute;
    width: $dim-new-md-button-size;
    height: $dim-new-md-button-size;
    border-radius: 50%;
    background: $col-active;
    box-shadow: 0px 10px 20px rgba(black, 0.6);
    cursor: pointer;
    bottom: 9rem;
    right: 10.2rem;

    span {
        position: relative;
        top: calc(#{$dim-new-md-button-size} / 2 - 0.5em);
        margin-left: calc(#{$dim-new-md-button-size} / 2 - 0.5em);
        color: white;
    }
}

.view-controls {
    width: calc(#{$content-width} - 1.5 * #{$card-margin});
    height: 1rem;
    padding: {
        top: 1rem;
        bottom: 1rem;
        left: 0rem;
        // right: $card-margin;
    }
    display: flex;
    flex-direction: row-reverse;
    right: $card-margin;
    margin-bottom: 2rem;

    .active-view {
        color: $col-active;
    }

    span {
        margin-left: 1rem;
        cursor: pointer;
        color: rgba(black, 0.5);
        &:hover {
            @extend .active-view;
        }
    }
}

$options-button-color: $col-lightgrey;
.collection-grid-item {
    margin: {
        right: $card-margin;
        bottom: $card-margin;
    }
    width: $card-width;
    height: $card-height;
    background: #fff;
    color: #333;
    cursor: pointer;
    font-size: 12px;
    margin: 1rem;

    .thumb {
        width: 100%;
    min-width: 12rem;
    max-width: 14rem;
        height: calc(#{$card-width} - 6rem);
        align-content: center;
        align-items: center;

        img {
            position: relative;
            align-self: center;
            width: auto;
            height: 100%;
            margin: auto;
        }
        .image {
            position: relative;
            width: 6rem;
            height: 6rem;
            top: calc(50% - 3rem);
            left: calc(50% - 3rem);
        }
        .icon {
            position: relative;
            color: white;
            font-size: 6rem;
            width: 6rem;
            height: 6rem;
            margin-top: calc(30% - 3rem);
            margin-left: calc(50% - 3rem);
        }
    }

    .title {
        display: normal;
        font-size: 1rem;
        text-overflow: ellipsis;
        overflow: hidden;
        margin-top: 0.5rem;
        margin-bottom: 1rem;
    }

    .subtitle {
        font-size: 0.7em;
        color: rgba($col-text, 0.7);
    }

    .details {
        width: calc(100% - 2rem);
        padding: 1rem;
        margin-bottom: 1rem;
    }

    .options-button {
        position: absolute;
        right: 0;
        bottom: 0.7rem;
        font-size: 1rem;
        width: 1.5rem;
        padding-left: 0.5rem;
        color: $options-button-color;
        right: 0.5rem;
        bottom: 1rem;
    }

    .footer {
        position: absolute;
        bottom: 0;
        width: calc(100% - 2rem);
        height: 1rem;
        padding: 1rem;
    }
}

.collection-list-item {
    width: calc(100% - 1.5 * #{$card-margin});
    background: #fff;
    color: #333;
    height: 2rem;
    font-size: 0.8rem;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    margin: {
        bottom: 2px;
    }
    cursor: pointer;

    &:hover {
        background: #fff;
        color: $col-active;
    }

    .title {
        padding: 0.6rem;
        display: flex;
        flex-direction: row;
    }

    .flex {
        display: flex;
        flex-direction: row;
        align-content: space-between;
    }

    .details {
        position: absolute;
        left: 50%;
        width: 25%;
        height: 1.2rem;
        padding: 0.6rem;
        margin-bottom: 1rem;
    }
    .options {
        position: absolute;
        right: 0;
        // width: 65%;
        height: 1.2rem;
        padding: 0.8rem;
        padding-right: 0.4rem;

        display: flex;
        flex-direction: row-reverse;
        div {
            margin-right: 1.5rem;
            color: $options-button-color;
        }
    }

    .options-button {
        position: absolute;
        right: 0;
        // bottom: 0.7rem;
        text-indent: 0.175rem;
        font-size: 1rem;
        line-height: 2rem;
        width: 1.5rem;
        color: $options-button-color;
        right: 0.5rem;
        bottom: 1rem;
    }

    .thumb {
        // width: 12rem;
        width: 100%;
        min-width: 12rem;
        max-width: 14rem;
        height: auto;
        overflow: hidden;
        cursor: pointer;
    
        img {
            position: relative;
            width: 40%;
            padding: 30%;
            height: auto;
        }
    }
}

.add-button-styling {
    background: rgba($col-active, 0.2);
    border: $new-collection-border-width dashed $col-active;
    color: $col-active;
    &:hover {
        background: $col-active;
        color: white;
        border-color: white;
    }
}

.new-collection-grid-button {
    @extend .collection-grid-item;
    @extend .add-button-styling;

    background: rgba($col-active, 0.2);
    border: $new-collection-border-width dashed $col-active;
    color: $col-active;

    display: flex;
    flex-direction: column;
    align-content: center;
    text-align: center;

    $icon-size: 2rem;
    span {
        margin: {
            top: calc((#{$card-height} - #{$icon-size}) / 2);
            bottom: 2rem;
        }
        font-size: $icon-size;
    }
}

.new-collection-list-button {
    @extend .collection-list-item;
    @extend .add-button-styling;
    $button-size: 3rem;
    padding: 0;

    display: flex;
    flex-direction: row;
    cursor: pointer;
    span {
        margin: 1rem;
        // font-size: $button-size;
    }
    .text {
        line-height: $button-size;
        // padding-top: 0.25em;
    }
}

.empty-state {
    position: absolute;
    width: 100%;
    height: 100%;
    $content-width: 20rem;
    $content-height: 15rem;
    .content {
        position: relative;
        width: $content-width;
        height: $content-height;
        left: calc(50% - #{$content-width} / 2);
        top: calc(40% - #{$content-height} / 2);

        .icon {
            font-size: 3rem;
            display: block;
            margin: auto;
        }
    }
}

.search-field {
    // position: absolute;
    // width: calc($content-width - 10rem);
    // width: calc($content-width - 6rem);
    width: 12rem;
}

.thumb {
    // width: 12rem;
    width: 100%;
    min-width: 12rem;
    max-width: 14rem;
    height: auto;
    overflow: hidden;
    cursor: pointer;

    img {
        position: relative;
        width: 40%;
        padding: 30%;
        height: auto;
    }
}
