$doc-index-width: 12rem;
.doc-index {
    @extend .flex-col;
    @extend .padded;
    @extend .auto-scroll-y;
    flex-grow: 1;
    // max-width: $doc-index-width;
    // margin-top: 1rem;
    .doc-index-item {
        $doc-index-font-size: 0.8em;
        color: $col-active;
        min-width: 6rem;
        max-width: $doc-index-width;
        height: 1em;//$doc-index-font-size;
        line-height: 1em;//$doc-index-font-size;
        overflow: hidden;
        word-wrap: none;
        text-overflow: ellipsis;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 8px;
        font-size: $doc-index-font-size;
        cursor: pointer;
        span {
            &:hover {
                border-bottom: 1px solid $col-active;
            }
        }
    }
}
