input {
    @extend .vision-colors;

    border: 2px solid #ddd;
    background-color: #fefefe!important;
    padding: 0.5rem;
    border-radius: 4px;
    color: #666!important;
    outline: none;
    border-color: #ccc;

    &:focus {
        border: 2px solid $col-active;
    }
}
