.layout {
    @extend .flex-row;
    position: relative;
    // width: calc(100vw - 4rem);
    height: 100%;
}

.layout-panel {
    position: relative;
    // overflow-y: auto;
    width: 100%;
    height: 100%;
    &.padded {
        padding: 1rem;
        width: calc(100% - 2rem);
        height: calc(100% - 2rem);
    }

    &.light {
        // background-color: #f8f8f8;
        // color:
    }

    &.dark {
        background-color: #333;
        color: #eee;
    }
}

