.transition-all {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

@mixin transition($prop, $duration) {
    transition: #{$prop} #{$duration} ease-out;
}

.transition-all {
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.modal-container {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    z-index: 1000;
    background: rgba(black,0.5);
    display: normal;
    @extend .transition-all;
    &.closed {
        display: none;
        background: transparent;
    }

    $dim-modal-med: 30rem;
    $dim-modal-large: 35rem; //calc(100vw - 8rem);
    $dim-modal-width: calc(100% - 2rem);
    .modal {
        position: relative;
        width: auto;
        border-radius: 0.25em;
        background: white;
        max-width: $dim-modal-large;
        margin: auto;
        top: 8rem;
        @extend .transition-all;
        &.closed {
            max-width: 0;
            background: transparent;
        }

        .modal-header {
            position: relative;
            width: $dim-modal-width;
            height: 1rem;
            padding: 1rem;
            font-weight: bold;
            border-top-left-radius: 0.25em;
            border-top-right-radius: 0.25em;
            border-bottom: 1px solid rgba(black, 0.1);

            .close-button {
                position: absolute;
                right: 1em;
                cursor: pointer;
            }

            &.primary {
                background: $col-active;
                color: white;
            }

            &.success {
                background: $col-success;
                color: white;
            }

            &.warning {
                background: $col-warning;
                color: white;
            }

            &.error {
                background: $col-error;
                color: white;
            }
        }

        .modal-body {
            position: relative;
            width: $dim-modal-width;
            max-height: calc(100vh / 2);
            padding: 1rem;
            overflow: hidden;
            overflow-y: auto;

            input {
                font-size: 0.9em;
            }
        }

        .modal-footer {
            position: relative;
            width: $dim-modal-width;
            border-top: 1px solid rgba(black, 0.1);
            // height: 3rem;
            padding: 1rem;

            .button {
                min-width: 6rem;
            }

        }
    }
}