$navbar-size: 4rem;
.navbar {
    @extend .flex-col;
    flex-grow: 1;
    position: relative;
    // height: 100%;
    width: calc(#{$navbar-size} + 0px);
    overflow-y: auto;

    &.dark {
        background-color: #111;
        color: #aaa;
    }

    &.light {
        background-color: white;
        color: #ccc;
    }

    box-shadow: 3px 0px 29px 0px rgba(0,0,0,0.2);
    -webkit-box-shadow: 3px 0px 29px 0px rgba(0,0,0,0.2);
    -moz-box-shadow: 3px 0px 29px 0px rgba(0,0,0,0.2);

    .item {
        width: $navbar-size;
        height: $navbar-size;
        text-align: center;
        line-height: $navbar-size;
        cursor: pointer;
        &:hover {
            background-color: rgba($col-active, 0.05);
            color: $col-active;
        }

        img {
            margin-top: 1rem;
            width:  calc( 0.5 * #{$navbar-size});
            height: calc( 0.5 * #{$navbar-size});
        }
    }

    .active {
        color: $col-active;
        // border-left: 4px solid $col-active;
    }
}
