.sidebar-nav-item {
    @extend .flex-row;
    width: calc(100% - 2rem);
    height: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // border-radius: 6px;
    border-radius: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    &:hover {
        // background: rgba($col-active, 0.8);
        background: #eeeef3;//rgba()
        color: rgba($col-active, 0.8);
    }

    span {
        margin-top: 0.2rem;
    }
}

.sidebar {
    &-collection {
        @extend .sidebar-nav-item;
        color: rgba(#555, 1);
    }

    &-item {
        @extend .sidebar-nav-item;
        font-size: 0.8rem;
        color: rgba(#666, 0.7);
    }
}