/* The switch - the box around the slider */

$switch-size: 24px;
$switch-width: 54px;
$switch-padding: 4px;
$slider-size: calc(#{$switch-size} - 2 * #{$switch-padding});

.vision-switch {
    position: relative;
    line-height: $switch-size;

    label  {
        position: relative;
        display: inline-block;
        width: $switch-width;
        height: $switch-size;

        input {
            opacity: 0;
            width: 0;
            height: 0;
        }
    }
}

/* Hide default HTML checkbox */

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: $switch-width;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .2s;

    @extend .round;

    &:before {
        position: absolute;
        content: "";
        height: $slider-size;
        width: $slider-size;
        left: $switch-padding;
        bottom: $switch-padding;
        background-color: white;
        -webkit-transition: .4s;
        transition: .4s;
    }

    &.round {
        border-radius: $switch-size;

        &:before {
            border-radius: 50%;
        }
    }
}

input {
    &:checked+.slider {
        background-color: $col-active;
    }
    &:focus+.slider {
        box-shadow: 0 0 1px $col-active;
    }
    &:checked+.slider:before {
        $distance: calc(#{$switch-width} - #{$switch-size} - 0 * #{$switch-padding});
        -webkit-transform: translateX($distance);
        -ms-transform: translateX($distance);
        transform: translateX($distance);
    }
}
