.tabs {
    position: relative;
    width: 100%;
    height: 2rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid rgba(#aaa, 0.5);

    .tab {
        flex-grow: 1;
        border-bottom: 2px solid transparent;
        text-align: center;
        font-size: 0.8rem;
        cursor: pointer;
        &.active {
            color: $col-active;
            border-bottom: 2px solid $col-active;
        }
    }
}
