.clock-container {
    position: relative;
    width: 100%;
    height: 100%;

    $digital-font-size: 6rem;
    .digital {
        position: relative;
        font-size: $digital-font-size;
        text-align: center;
        width: 100%;
        margin-top: calc(50% - 2 * #{$digital-font-size})
    }
}