.grid-tile {
  position: relative;
  box-shadow: 0 1px 3px rgba(0,0,0,0), 0 1px 2px rgba(0,0,0,0);
  overflow: hidden;

  &:hover {
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    transition: all 0.5s cubic-bezier(.25,.8,.25,1);
  }
}

.active-tile {
  border: 2px solid #00adee;
  width: calc(100% - 4px);
  height: calc(100% - 4px);
}
