.article-container {
    position: relative;
    img {
        // position: absolute;
        object-fit: fill;
    }

    .content {
        position: absolute;
        top: 0;
        width: 100%;
        height: 100%;
        background: rgba(black, 0.3);
        color: white;
    }
}