.fade-default {
    opacity: 1;
}

.fade-in {
    opacity: 1;
    transition: all 0.2s ease;
}

.fade-out {
    opacity: 0;
    transition: all 0.2s ease;
}

@keyframes spinner-keyframes {
    to { transform: rotate(360) }
}

.spin {
    animation: spinner-keyframes 1s linear infinite;
}