$col-active: #00adee;
$col-primary: $col-active;
$col-secondary: #aaa;
$col-success: #11bb55;
$col-warning: orange;
$col-error: red;

$col-lightgrey: #eeeef3;
$col-text: #888;
$col-white: #fff;

@mixin setColors($color) {
    background: $color;
    color: $color;
    border-color: $color;
    &:hover {
        background: $color;
        color: white;
        border-color: $color;
    }
    &:focus {
        box-shadow: 0px 3px 10px rgba($color, 0.5);
    }
}
.vision-colors {
    &.primary {
        @include setColors($col-active);
    }

    &.success {
        @include setColors($col-success);
    }

    &.warning {
        @include setColors($col-warning);
    }

    &.error {
        @include setColors($col-error);
    }

    &.secondary {
        color: #444;
        background-color: #ddd;

        &:hover {
            color: white;
            background-color: #333;
            // background-color: rgba($col-active, 0.8);
        }
        &:focus {
            box-shadow: 0px 3px 10px rgba($col-active, 0.5);
        }
    }
}

.colors {
    &.white {
        color: white;
    }
}