// NOTE: Order is Important!
// Colors
@import './animations.scss';
@import './colors.scss';
@import './layout.scss';
@import './misc.scss';
// Charts
@import './charts/table.scss';
// Components
@import './components/accordion.scss';
@import './components/app-menu.scss';
@import './components/auto-complete.scss';
@import './components/card.scss';
@import './components/calendar.scss';
@import './components/collection-view.scss';
@import './components/dropdown.scss';
@import './components/error-boundary.scss';
@import './components/loader.scss';
@import './components/layout.scss';
@import './components/map.scss';
@import './components/modal.scss';
@import './components/notifications.scss';
@import './components/navbar.scss';
@import './components/tabs.scss';
// Forms
@import './components/auto-complete';
@import './components/button.scss';
@import './components/checkbox.scss';
@import './components/input.scss';
@import './components/slider';
@import './components/switch.scss';
@import './components/toaster.scss';
@import './components/tree.scss';
// NOTE: forms must come last
@import './components/forms.scss';
// 3rd Party Overrides
@import './overrides/react-big-calendar.scss';
@import './overrides/react-grid-layout.scss';
@import './overrides/react-highlight-words.scss';
@import './overrides/react-split-pane.scss';
// root
@import './vision-core.scss';

body {
    @extend .full-screen;
    font-family: 'Quicksand', sans-serif;
    color: #666;
}

.logo-font {
    font-family: 'Meie Script', cursive;
    font-style: italic;
}


.page {
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

.padded {
    padding: 1rem;
    width: calc(100% - 2rem);
    // height: calc(100% - 2rem);
    margin: 0;
    h4 {
        margin-bottom: 0;
    }
}

.page-header {
    display: flex;
    flex-direction: row;
    color: #888;
    height: 2rem;
    line-height: 2rem;

    .icon {
        font-size: 1.2rem;
        margin-right: 1.3rem;
        line-height: 2rem;
    }

    .title {
        font-size: 1.1rem;
        line-height: 2rem;
    }
}

p {
    font-size: 0.9rem;
}

.sidebar-nav-item {
    @extend .flex-row;
    width: calc(100% - 2rem);
    height: 1rem;
    padding: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    // border-radius: 6px;
    border-radius: 1rem;
    font-size: 0.85rem;
    cursor: pointer;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
    vertical-align: middle;
    &:hover {
        // background: rgba($col-active, 0.8);
        background: #eeeef3;//rgba()
        color: rgba($col-active, 0.8);
    }

    span {
        margin-top: 0.2rem;
    }
}

.sidebar {
    &-collection {
        @extend .sidebar-nav-item;
        color: rgba(#555, 1);
    }

    &-item {
        @extend .sidebar-nav-item;
        font-size: 0.8rem;
        color: rgba(#666, 0.7);
    }
}

.version-banner {
    position: relative;
    margin: 0.3rem;
    margin-top: 1rem;
    top: 0.5rem;
    border-radius: 0.8rem;
    color: white;
    padding: {
        left: 0.3rem;
        right: 0.3rem;
    }
    &.pre-alpha {
        background-color: red;
    }

    &.alpha {
        background-color: darkorange;
    }
    &.beta {
        background-color: darkcyan;
    }
    &.discovery {
        background-color: black;
    }
}

.divider {
    position: relative;
    background: rgba(lightgrey, 1);

    &.vertical {
        width: 1px;
        height: 100%;
    }

    &.horizontal {
        width: 100%;
        height: 1px;
    }
}

.help-gif {
    @extend .card-1;
    max-width: 40rem;
    margin-top: 2rem;
    height: auto;
    margin: auto;
}

.edit-inline {
    @extend .flex-row;

    .title {
        outline: none;
        margin-right: 1em;

        &:focus {
            color: $col-active;
            border-bottom: 1px solid $col-active;
        }
    }

    .icon {
        opacity: 0;
        font-size: 0.75em;
        line-height: 3em;
        margin-right: 0.5px;
    }

    &:hover {
        border-bottom: 1px solid $col-active;
        .icon {
            transition: all 0.5s ease-in-out;
            opacity: 1;
        }
    }
}

.action-button {
    margin-right: 0.25em;
    width: 2.2em!important;
    height: 2.2em!important;
    font-size: 0.9em!important;
    border-radius: 1.1em!important;
    border-color: transparent!important;
    @extend .colors.white;

    .icon {
        margin: auto;
        font-size: 0.9em;
        line-height: 2.2em;
    }
}

#guide {
    @extend .flex-col;
    @extend .auto-scroll-y;
    flex-grow: 3;
    max-width: 40.5rem;
    padding: 1rem;
    margin: auto;

    img {
        margin-bottom: 2rem;
    }
}

$doc-index-width: 12rem;
.doc-index {
    @extend .flex-col;
    @extend .padded;
    @extend .auto-scroll-y;
    max-width: $doc-index-width;
    flex-grow: 1;
    margin-top: 1rem;
    .doc-index-item {
        $doc-index-font-size: 0.8em;
        color: $col-active;
        min-width: 6rem;
        max-width: $doc-index-width;
        height: 1em;//$doc-index-font-size;
        line-height: 1em;//$doc-index-font-size;
        overflow: hidden;
        word-wrap: none;
        text-overflow: ellipsis;
        padding-left: 0.5em;
        padding-right: 0.5em;
        padding-bottom: 8px;
        font-size: $doc-index-font-size;
        cursor: pointer;
        span {
            &:hover {
                border-bottom: 1px solid $col-active;
            }
        }
    }
}

