$dim-border-size: 10px;
$dim-loader-size: 1rem;
$col-loader: $col-active;

.loader {
    border: 10px solid rgba(white,0.1);
    border-top: 10px solid $col-loader;
    border-radius: 50%;
    width: $dim-loader-size;
    height: $dim-loader-size;
    animation: spin 0.8s ease-in-out infinite;
    margin: 0;
    padding: 0.3rem;
    top: 0;
    display: inline-block;
    border-width: 3px;

    &.white {
        border-top: 10px solid white;
    }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}