.iframe-container {
    overflow: hidden;
    position: relative;
    width: 100%;
    height: auto;
    min-height: 40vh;
    max-height: 100vh;
    // height: auto;
    // height: calc(100vw * (9 / 16));

    .iframe-url {
        display: table-row;
        height: 1rem;
        border-bottom: 1px solid rgba(grey, 0.5);
    }

    iframe {
        display: table-row;
        position: absolute;
        height: 100%;
        width: 100%;
        left: 0;
        top: 0;
        border: 0;
    }
}